* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --primary-color-gr: #495e57;
  --primary-color-ye: #f4ce14;
  --primary-color-bg: #edefee;
  --secondary-color-1: #ee9972;
  --secondary-color-2: #fbdabb;
  --secondary-color-text: #333333;

  --heading-font: Markazi text;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body{
  background-color: var(--primary-color-bg);
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 100px;
  width: 100%;

  display: flex;
  justify-content: center;

  background-color: var(--primary-color-bg);
  box-shadow: 0px 5px 15px -3px var(--primary-color-gr);
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  width: 66%;
  max-width: 2560px;
  height: 100%;
}

.page {
  max-width: 2560px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  min-height: 100vh;
}

.content-wrapper {
  padding-top: 100px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 0;
}

.nav-links a {
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 550;
}

.header-logo {
  width: 200px;
}

.hero-bar {
  margin-bottom: 40px;
  width: 100%;
  height: 360px;
  background-color: var(--primary-color-gr);

  display: flex;
  justify-content: center;
}

.hero-section {
  width: 66%;
  max-width: 2560px;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}

.hero-text {
  color: var(--primary-color-bg);
  flex-shrink: 2;
}

.hero-text h1{
  font-size: clamp(42px, 5.8vw, 64px);
  color: var(--primary-color-ye);
}

.hero-text h2{
  font-size: clamp(24px, 4vw, 40px);
}

.hero-text p {
  margin-bottom: 16px;
  width: 200px;
}

.button {
  margin: 8px 0;
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: var(--primary-color-ye);
  border: none;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 700;
}

.hero-img-container {
  /* margin-right: 36px; */
  position: relative;
  top: 15px;
  width: 360px;
  height: 360px;
}

.hero-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 50%;
  border-radius: 16px;
}

/* Specials */
.specials {
  margin: 10px 0;
  width: 66%;
}

.specials-wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.specials-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-heading h1{
  font-size: clamp(32px, 3vw, 56px);
  color: var(--secondary-color-text);
  margin: 0;
}

.special-card {
  display: flex;
  flex-direction: column;
  width: clamp(100px, 30%, 600px);;
}

.special-heading {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.special-heading .special-price {
  white-space: nowrap;
}

.special-img-container {
height: 185px;

}

.special-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.special-content {
  background-color: #cfcfcf8b;
  height: 253px;
  padding: 1rem;
  
}


footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: auto;
  padding: 32px 0;
  width: 90%;
  max-width: 2560px;
}

.footer-logo {
  justify-self: center;
  align-self: center;
  width: 50px
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
}

a{
  font-family: Karla;
  text-decoration: none;
  color: black;
}

nav ul li{
  transition: transform 0.15s;
}

nav ul li:hover {
  transform: scale(1.1);
}

@media (max-width: 810px) {
  header {
    height: 130px;
  }

  .content-wrapper {
    padding-top: 110px;
  }

  .nav-bar {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  nav ul {
    margin-top: 10px;
  }

  .header-logo {
    width: 150px;
  }
}